/*
reset css
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/*
reset css end
*/
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "SUITE", sans-serif;
}

body,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #07a;
}

img {
  border: 0;
  max-width: 100%;
}

fieldset {
  border: 1px solid #ddd;
  padding: 2%;
}

sup,
sub {
  height: 0;
  line-height: 0;
  font-size: 10px;
}

iframe,
video,
embed,
object {
  max-width: 100%;
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

blockquote {
  position: relative;
  color: #555;
  font-style: italic;
  margin: 0;
  padding: 10px 15px;
  border-left: 5px solid #f1f1f1;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #ccc;
  height: 0;
  overflow: hidden;
}

code {
  border: 1px solid #eee;
  background-color: #fafafa;
  color: #111;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0;
  font: 11px "verdana";
  display: inline-block;
}

code.red {
  border: 1px solid #f6cece;
  background-color: #fff4f4;
  color: #be0d0d;
}

code.blue {
  border: 1px solid #b7d9f2;
  background-color: #f4fcff;
  color: #4570cd;
}

code.green {
  border: 1px solid #b7f2c7;
  background-color: #f4fff7;
  color: #267c45;
}

input,
textarea {
  outline: none;
}

::-moz-selection {
  background: #888;
  color: #fff;
}

::selection {
  background: #888;
  color: #fff;
}

div,
span,
input,
textarea {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#tistoryProfileLayer div {
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.clear {
  clear: both;
  width: 100%;
}

.text-center {
  text-align: center;
}

body {
  width: 100%;
}

#wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 520px);
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 520px;
  min-height: 100vh;
  background-color: #2f2f2f;
}

#content-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-title {
  width: 100%;
  height: 300px;
  display: none;
}
.content-title.home {
  display: block;
  background-image: url("https://pixabay.com/get/gc215c678d460ccacd5d82d7c2e545f4f9eb0b3ebac499ae001f98e48e77f80f62981c2564b56cf2175f1a33c2759823a6cb633766ffb14f49e61becb9fa12cd2_1920.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 46px 0;
}
.content-title.home .title {
  font-weight: 800;
  font-size: 36px;
}
.content-title.home .sub-title {
  font-size: 16px;
}

#content-inner {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
}
#content-inner > #head {
  text-align: center;
}
#content-inner > #head h2 {
  width: 100%;
  font-size: 36px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 800;
  text-align: left;
  padding: 20px 30px 0;
}
#content-inner > #head .date {
  font-size: 14px;
  color: rgb(81, 81, 81);
  border-radius: 5px;
  display: flex;
  padding: 0px 30px 20px;
}
#content-inner #body {
  width: 100%;
  padding: 0 30px;
}
#content-inner #body.entry {
  line-height: 1.5;
  font-weight: 400;
}
#content-inner #body figure {
  margin: 10px 0;
}

p[data-ke-size=size16] {
  font-size: 16px;
}

h1 {
  width: 100%;
  align-items: center;
  font-size: 32px;
  color: #333333;
  padding: 32px 28px 24px;
}
h1 a {
  width: 86px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
h1 a span {
  margin-top: 30px;
}
h1 .jobs {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.menu {
  display: flex;
  width: 100%;
}
.menu .blog-menu {
  width: 100%;
}
.menu .blog-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 28px;
}
.menu .blog-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  background-color: #151515;
  width: 24px;
  height: 24px;
  border-radius: 8px;
}
.menu .blog-menu ul li + li {
  margin-left: 10px;
}
.menu .blog-menu ul li a {
  font-size: 14px;
  color: rgb(228, 228, 228);
}

.category {
  padding: 0px 30px 20px;
}
.category .category-title {
  font-size: 1.5em;
  width: 360px;
  height: 60px;
  background-color: rgb(82, 82, 82);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 600;
  margin-top: 24px;
}
.category .tt_category {
  width: 360px;
  position: relative;
}
.category .tt_category > li .link_tit {
  display: flex;
  color: white;
  width: 100%;
  height: 48px;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  margin: 12px 0;
  font-size: 16px;
  transition: background 150ms;
}
.category .tt_category > li .link_tit:hover {
  background-color: rgb(196, 30, 30);
}
.category .tt_category .category_list > li {
  width: 100%;
}
.category .tt_category .category_list > li + li {
  margin-top: 4px;
}
.category .tt_category .category_list > li a {
  color: white;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 400;
  transition: background 150ms;
}
.category .tt_category .category_list > li a:hover {
  background-color: rgb(30, 83, 196);
}
.category .tt_category .category_list > li .link_item {
  font-size: 16px;
}
.category .tt_category .sub_category_list {
  padding: 5px 0;
  padding-left: 20px;
  margin: 5px 0;
}
.category .tt_category .sub_category_list > li + li {
  margin-top: 5px;
}
.category .tt_category .sub_category_list > li .link_sub_item {
  font-size: 14px;
}

.counter {
  color: #444444;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  margin: 20px 0 0;
}
.counter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.counter > div + div {
  margin-left: 10px;
}
.counter > div + div::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  left: 0;
  top: 0;
}
.counter em {
  display: block;
}
.counter span {
  display: block;
  text-align: center;
}
.counter .yesterday {
  color: #6a6;
}
.counter .today {
  color: #07a;
}
.counter .total {
  color: #e55;
}

.notice + .recent {
  margin-top: 10px;
}

.notice,
.recent {
  padding: 20px;
  font-size: 14px;
  color: white;
  margin: 0 30px;
  background-color: #000000;
  border-radius: 5px;
}
.notice em,
.recent em {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 600;
}
.notice ul,
.recent ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notice ul li,
.recent ul li {
  padding: 5px 0;
}
.notice ul li a,
.recent ul li a {
  font-size: 16px;
  color: white;
}

.search {
  padding: 20px 30px;
}
.search input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
  transition: border 0.3s;
  padding: 0 20px;
  font-size: 16px;
}
.search input::-moz-placeholder {
  color: #999999;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.search input::placeholder {
  color: #999999;
  transition: color 0.3s;
}
.search input:focus {
  outline: none;
  border: 1px solid #666666;
}
.search input:focus::-moz-placeholder {
  color: #cccccc;
}
.search input:focus::placeholder {
  color: #cccccc;
}

.sidebar-switch {
  position: fixed;
  left: 20px;
  top: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #444444;
  z-index: 999;
  transition: left 0.3s;
  cursor: pointer;
}

.sidebar-switch.on {
  left: 340px;
}

.sidebar-switch ion-icon {
  font-size: 24px;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */