/*
reset css
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/*
reset css end
*/
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px;
}

body {
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #07a;
}

img {
  border: 0;
  max-width: 100%;
}

fieldset {
  border: 1px solid #ddd;
  padding: 2%;
}

sup,
sub {
  height: 0;
  line-height: 0;
  font-size: 10px;
}

iframe,
video,
embed,
object {
  max-width: 100%;
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

blockquote {
  position: relative;
  color: #555;
  font-style: italic;
  margin: 0;
  padding: 10px 15px;
  border-left: 5px solid #f1f1f1;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #ccc;
  height: 0;
  overflow: hidden;
}

code {
  border: 1px solid #eee;
  background-color: #fafafa;
  color: #111;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0;
  font: 11px "verdana";
  display: inline-block;
}

code.red {
  border: 1px solid #f6cece;
  background-color: #fff4f4;
  color: #be0d0d;
}

code.blue {
  border: 1px solid #b7d9f2;
  background-color: #f4fcff;
  color: #4570cd;
}

code.green {
  border: 1px solid #b7f2c7;
  background-color: #f4fff7;
  color: #267c45;
}

input,
textarea {
  outline: none;
}

::-moz-selection {
  background: #888;
  color: #fff;
}

::selection {
  background: #888;
  color: #fff;
}

div,
span,
input,
textarea {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#tistoryProfileLayer div {
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.clear {
  clear: both;
  width: 100%;
}

.text-center {
  text-align: center;
}

.entry-content table:not(.hljs-ln) {
  width: 100%;
  margin-bottom: 22px;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.9375em;
  line-height: 1.5714;
  color: #666;
}

.entry-content table:not(.hljs-ln) thead th {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
}

.entry-content table:not(.hljs-ln) tbody td {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

pre {
  margin: 0;
}

pre code.hljs {
  font-family: "Poppins", "SUITE", monospace;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
  padding: 15px !important;
  margin: 10px 0;
  box-shadow: 0 0 6px 0 #ddd;
  line-height: 20px;
}

.hljs-ln-line.hljs-ln-numbers {
  padding-right: 10px;
  color: #ff976d;
  text-align: right;
  width: 30px;
}

#content-inner #body.entry .tag_label {
  font-size: 0;
  margin-bottom: 20px;
}
#content-inner #body.entry .tag_label span {
  display: flex;
  margin-top: 16px;
}
#content-inner #body.entry .tag_label span a {
  font-size: 11px;
  line-height: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  background-color: #666666;
  color: white;
}
#content-inner #body.entry .tag_label span a + a {
  margin-left: 10px;
}

#content-inner #body figure {
  margin: 10px 0;
}

#content-inner {
  font-family: "Wanted Sans Variable";
}
#content-inner #content-group #body h1,
#content-inner #content-group #body h2,
#content-inner #content-group #body h3 {
  line-height: 200%;
}
#content-inner #content-group #body h1 {
  font-size: 28px;
  font-weight: 600;
}
#content-inner #content-group #body h2 {
  font-size: 24px;
  font-weight: 600;
}
#content-inner #content-group #body h3 {
  font-size: 20px;
  font-weight: 600;
}
#content-inner #content-group #body p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 140%;
}

#communicate {
  margin-top: 10px;
}

.communicateWrite .textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.communicateWrite .textarea textarea {
  width: 100%;
  resize: none;
  border: 0;
}
.communicateWrite .submit {
  margin-top: 10px;
  text-align: right;
}
.communicateWrite .submit input {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: white;
}
.communicateWrite .secret {
  margin-top: 10px;
  text-align: right;
}

.tt_box_namecard {
  display: none !important;
}

body {
  width: 100%;
}

#wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 520px;
  min-height: 100vh;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
}

.content-title {
  width: 100%;
  height: 300px;
  display: none;
}
.content-title.home {
  display: block;
  background-image: url("https://tistory2.daumcdn.net/tistory/4071388/skin/images/sea.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 46px 0;
}
.content-title.home .title {
  font-weight: 800;
  font-size: 36px;
}
.content-title.home .sub-title {
  font-size: 20px;
}
.content-title.home .sub-text {
  font-size: 14px;
  margin-top: 5px;
}

#content-inner {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 80px;
}
#content-inner #content-group {
  border-top: 5px solid black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
}
#content-inner #content-group + #content-group {
  margin-top: 40px;
}
#content-inner #content-group > #head {
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
#content-inner #content-group > #head h2 {
  width: 100%;
  font-size: 36px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 10px;
  line-height: 1.5;
}
#content-inner #content-group > #head .date {
  font-size: 14px;
  font-weight: 400;
  color: rgb(62, 62, 62);
  border-radius: 5px;
  display: flex;
}
#content-inner #content-group #body {
  width: 100%;
}
#content-inner #content-group #body.entry {
  line-height: 1.5;
  font-weight: 400;
}
#content-inner #content-group #body figure {
  margin: 10px 0;
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.top svg {
  width: 70px;
  height: 70px;
}

.sidebar-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
}

.sidebar-switch .sidebar-switch__line {
  width: 100%;
  height: 4px;
  background-color: #953ccb;
  border-radius: 2px;
}

.sidebar-switch .sidebar-switch__line + .sidebar-switch__line {
  margin-top: 6px;
  width: 70%;
}

.sidebar-close {
  width: 50px;
  height: 50px;
  background: linear-gradient(#83569f, #a14481);
  transform: rotate(180deg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

#sidebar {
  position: fixed;
  height: 100%;
  left: -520px;
  transition: left 300ms cubic-bezier(0.87, 0, 0.13, 1);
  overflow-y: scroll;
  z-index: 200;
  border-right: 1px solid #dddddd;
}
#sidebar.on {
  left: 0;
}
#sidebar .sidebar__header--wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
#sidebar .sidebar__header--wrapper .sidebar__header--wrapper__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#sidebar .sidebar__header--wrapper .sidebar__header--wrapper__right em {
  font-size: 12px;
  letter-spacing: -0.5px;
}
#sidebar .sidebar__header--wrapper .sidebar__header--wrapper__right span {
  font-size: 24px;
}
#sidebar h1 {
  width: 100%;
  align-items: center;
  font-size: 32px;
  color: #333333;
  padding: 32px 30px 24px;
  box-sizing: border-box;
}
#sidebar h1 a {
  display: flex;
  flex-direction: column;
}
#sidebar h1 a span {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -2px;
  background-color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sidebar h1 .jobs {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
#sidebar .menu {
  display: flex;
  width: 100%;
}
#sidebar .menu .blog-menu {
  width: 100%;
}
#sidebar .menu .blog-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 28px;
  box-sizing: border-box;
}
#sidebar .menu .blog-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  background-color: #151515;
  width: 24px;
  height: 24px;
  border-radius: 8px;
}
#sidebar .menu .blog-menu ul li + li {
  margin-left: 10px;
}
#sidebar .menu .blog-menu ul li a {
  font-size: 14px;
  color: rgb(228, 228, 228);
}
#sidebar .category {
  padding: 0px 30px 20px;
}
#sidebar .category .category-title {
  font-size: 24px;
  width: 360px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 12px 0;
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 1px solid #eeeeee;
}
#sidebar .category .tt_category {
  width: 360px;
  position: relative;
}
#sidebar .category .tt_category > li .link_tit {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  margin: 12px 0;
  font-size: 16px;
  transition: background 150ms;
  border-bottom: 1px solid #eeeeee;
  font-weight: 700;
  background: linear-gradient(180deg, #6a1797 0%, #9a22db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sidebar .category .tt_category > li .link_tit:hover {
  background-color: rgb(196, 30, 30);
}
#sidebar .category .tt_category .category_list > li {
  width: 100%;
}
#sidebar .category .tt_category .category_list > li + li {
  margin-top: 4px;
}
#sidebar .category .tt_category .category_list > li a {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 400;
  transition: background 150ms;
  border-bottom: 1px solid #eeeeee;
}
#sidebar .category .tt_category .category_list > li a:hover {
  background-color: #eeeeee;
  color: black;
}
#sidebar .category .tt_category .category_list > li .link_item {
  font-size: 16px;
}
#sidebar .category .tt_category .sub_category_list {
  padding: 5px 0;
  padding-left: 16px;
}
#sidebar .category .tt_category .sub_category_list > li + li {
  margin-top: 5px;
}
#sidebar .category .tt_category .sub_category_list > li .link_sub_item {
  height: 40px;
  font-size: 12px;
}
#sidebar .counter {
  color: #444444;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  margin: 20px 0 0;
}
#sidebar .counter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#sidebar .counter > div + div {
  margin-left: 10px;
}
#sidebar .counter > div + div::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  left: 0;
  top: 0;
}
#sidebar .counter em {
  display: block;
}
#sidebar .counter span {
  display: block;
  text-align: center;
}
#sidebar .counter .yesterday {
  color: #6a6;
}
#sidebar .counter .today {
  color: #07a;
}
#sidebar .counter .total {
  color: #e55;
}
#sidebar .notice {
  margin-top: 30px;
}
#sidebar .notice + .recent {
  margin-top: 20px;
}
#sidebar .notice,
#sidebar .recent {
  padding: 0px 30px;
  font-size: 14px;
  margin: 0;
  border-radius: 5px;
}
#sidebar .notice em,
#sidebar .recent em {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
}
#sidebar .notice ul,
#sidebar .recent ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#sidebar .notice ul li a,
#sidebar .recent ul li a {
  font-size: 16px;
}
#sidebar .search {
  padding: 20px 30px;
}
#sidebar .search input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
  transition: border 0.3s;
  padding: 0 20px;
  font-size: 16px;
}
#sidebar .search input::-moz-placeholder {
  color: #999999;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
#sidebar .search input::placeholder {
  color: #999999;
  transition: color 0.3s;
}
#sidebar .search input:focus {
  outline: none;
  border: 1px solid #666666;
}
#sidebar .search input:focus::-moz-placeholder {
  color: #cccccc;
}
#sidebar .search input:focus::placeholder {
  color: #cccccc;
}/*# sourceMappingURL=style.css.map */