.entry-content table:not(.hljs-ln) {
  width: 100%;
  margin-bottom: 22px;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.9375em;
  line-height: 1.5714;
  color: #666;
}

.entry-content table:not(.hljs-ln) thead th {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
}

.entry-content table:not(.hljs-ln) tbody td {
  padding: 7px 0 11px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

pre {
  margin: 0;
}

pre code.hljs {
  font-family: "Poppins", "SUITE", monospace;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
  padding: 15px !important;
  margin: 10px 0;
  box-shadow: 0 0 6px 0 #ddd;
  line-height: 20px;
}

.hljs-ln-line.hljs-ln-numbers {
  padding-right: 10px;
  color: #ff976d;
  text-align: right;
  width: 30px;
}

#content-inner #body.entry .tag_label {
  font-size: 0;
  margin-bottom: 20px;

  span {
    display: flex;
    margin-top: 16px;
    a {
      font-size: 11px;
      line-height: 14px;
      padding: 5px 10px;
      border-radius: 5px;
      display: block;
      background-color: #666666;
      color: white;
    }

    a + a {
      margin-left: 10px;
    }
  }
}

#content-inner #body figure {
  margin: 10px 0;
}

#content-inner {
  font-family: "KimjungchulGothic";

  #content-group {
    #body {
      h1,
      h2,
      h3 {
        line-height: 200%;
      }

      h1 {
        font-size: 28px;
        font-weight: 600;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 140%;
      }
    }
  }
}
