body {
  width: 100%;
}

#wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

// 최상단 타이틀 텍스트
.content-title {
  width: 100%;
  height: 300px;
  display: none;

  &.home {
    display: block;
    background-image: url("https://tistory2.daumcdn.net/tistory/4071388/skin/images/sea.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 46px 0;

    .title {
      font-weight: 800;
      font-size: 36px;
    }

    .sub-title {
      font-size: 20px;
    }

    .sub-text {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}

#content-inner {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  line-height: 1.5;
  margin-top: 80px;

  #content-group {
    border-top: 5px solid black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 40px;

    & + #content-group {
      margin-top: 40px;
    }

    // 컨텐츠 상단 영역
    & > #head {
      text-align: center;
      border-bottom: 1px solid #cccccc;

      // 제목글
      h2 {
        width: 100%;
        font-size: 36px;
        box-sizing: border-box;
        border-radius: 10px;
        color: #ffffff;
        font-weight: 500;
        text-align: left;
        margin-top: 4px;
        margin-bottom: 10px;
        line-height: 1.5;
      }

      // 제목글 하단 날짜
      .date {
        font-size: 14px;
        font-weight: 400;
        color: rgb(62, 62, 62);
        border-radius: 5px;
        display: flex;
      }
    }

    // 컨텐츠 내용 영역
    #body {
      width: 100%;

      &.entry {
        line-height: 1.5;
        font-weight: 400;
      }

      figure {
        margin: 10px 0;
      }
    }
  }
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.top svg {
  width: 70px;
  height: 70px;
}

.sidebar-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
}

.sidebar-switch .sidebar-switch__line {
  width: 100%;
  height: 4px;
  background-color: #953ccb;
  border-radius: 2px;
}

.sidebar-switch .sidebar-switch__line + .sidebar-switch__line {
  margin-top: 6px;
  width: 70%;
}
